@use '../base/variables' as v;
@use '../base/mixins' as m;


.item{
    border: 1px solid black;
    background-color: v.$verde;
    text-align: center;
    color: v.$blanco;
    font: {
        size: 20px;
        
    }
}

